body{color: black;
    font-style: oblique;
background: lightblue url("img_tree.gif") no-repeat fixed center; }

/*Type selector*/
h1{color: blue;
    text-align: center;
    text-decoration: underline overline wavy green;}

h3{color: red;
    text-decoration: underline;
    font-weight: bold;}


/*ID selector*/
#rcorners2 {
  border-radius: 25px;
  border: 2px solid yellow;
  padding: 20px;
  width: 200px;
  height: 100px;
}
#rcorners2v2 {
  border-radius: 25px;
  border: 2px solid yellow;
  padding: 20px;
  width: 600px;
  height: 100px;
}
#rcorners2v3 {
  border-radius: 25px;
  border: 2px solid yellow;
  padding: 20px;
  width: 400px;
  height: 150px;
}

/*Class selector*/
.link{color: blue;}