body{background-color: palegreen;
    color: black;}

/*Type selector*/
h1{color: blue;
    text-align: center;}
h3{color: red;}

/*ID selector*/
#about{border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;}

/*Class selector*/
.link{color: yellow;}