body{color: black;
    font-style: oblique;
background: lightblue url("img_tree.gif") no-repeat fixed center; }

/*Type selector*/
h1{color: blue;
    text-align: center;
    font-size: 50px;
    text-decoration: underline overline wavy green;}

h3{color: red;
    ;
    font-size: 20px;
    font-weight: bold;}


/*ID selector*/
#rcorners2 {
  border-radius: 25px;
  border: 2px solid yellow;
  padding: 5px;
  width: 200px;
  height: 130px;
}
#rcorners2v2 {
  border-radius: 25px;
  border: 2px solid yellow;
  padding: 10px;
  width: 600px;
  height: 100px;
}
#rcorners2v3 {
  border-radius: 25px;
  border: 2px solid yellow;
  padding: 5px;
  width: 400px;
  height: 150px;
}

/*Class selector*/
.link{color: blue;
}
.box:link, .box:visited {
    float:left;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-right: 1px solid #bbb;
}
.box:hover, .box:active {
  background-color: red;
}

ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
    
}
.favoriteSites{
    font-size: 20px;
}